<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Cadastro realizado</title>

    <!-- Fonte e estilo -->
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="container">
        <!-- Painel esquerdo -->
        <div class="left-panel">
            <h1>Sucesso</h1>
            <img src="../IMG/Design sem nome (2).png" alt="Logo Projeto de Vida">
        </div>

        <!-- Painel direito -->
        <div class="right-panel">
            <div class="success-message" style="text-align: center;">
                <h1>Cadastro realizado com sucesso!</h1>
                <p>Você já pode acessar sua conta.</p>
                <a href="login.php" class="login-button" style="margin-top: -10px;">Fazer login</a>
            </div>
        </div>
    </div>
</body>

</html>
